# list

In [6]:
lst = ["banana","mango","apple","watermelon"]

In [7]:
lst

['banana', 'mango', 'apple', 'watermelon']

In [4]:
lst[1]

'watermelon'

In [42]:
lst[-1]

'watermelon'

In [44]:
lst[3] = "cherry"

In [45]:
lst

['banana', 'mango', 'apple', 'cherry']

# dictionary

In [10]:
dit = {"name": "kowshik","age":"23","place":"chennai","email":"kowshik31"}

In [11]:
dit

{'name': 'kowshik', 'age': '23', 'place': 'chennai', 'email': 'kowshik31'}

In [12]:
dit.get("age")

'23'

# set

In [22]:
st = {"kowshik","raju","babu",1,1,3,4,5,5,5,6,9,8}

In [23]:
st

{1, 3, 4, 5, 6, 8, 9, 'babu', 'kowshik', 'raju'}

In [25]:
x = {3,1,0,7}

In [26]:
y ={2,6,0,9}

In [27]:
z = x&y

In [28]:
z

{0}

In [37]:
st.add("kowshik")

In [38]:
st

{1, 3, 4, 5, 6, 8, 9, 'babu', 'kowshik', 'raju'}

# Tuple

In [47]:
tup = ("happy","birthday","to","you")

In [48]:
tup

('happy', 'birthday', 'to', 'you')

In [49]:
tup.index("to")

2

In [50]:
tup.count("you")

1

# string

In [9]:
print("kowshik")

kowshik

# Slicing

In [1]:
a = ("Disaster Management")

In [2]:
print(a[2:5])

sas

# String Length

In [3]:
a = ("Disaster Management")

In [4]:
print(len(a))

19

# string in upper case

In [5]:
a = ("disaster management")

In [6]:
print(a.upper())

DISASTER MANAGEMENT

# Check String

In [7]:
txt = ("MBA in disaster managemnet")

In [8]:
x = "manage" in txt

In [10]:
print(x)

True

# String Concatenation

In [11]:
a = "Disaster"

In [12]:
b = "Management"

In [13]:
z = a + b

In [14]:
print(z)

DisasterManagement

In [15]:
a = "Disaster"

In [16]:
b = "Management"

In [17]:
z = a +" "+ b

In [18]:
print(z)

Disaster Management

# String Format

In [19]:
year = 2021

In [20]:
txt = ("I will complete my master degree in {}")

In [21]:
print(txt.format(year))

I will complete my master degree in 2021